/** Brand CSS **/
.navbar-brand a { 
  color: white;   
  font-size: 28px;
  letter-spacing: 2px;
  text-decoration: none;
  padding-left: 15px;
}
.navbar-brand a:hover { 
  text-decoration: none; 
}

/** Navigation CSS **/
#navbar_span { padding: 0; }
.navbar { 
  width: 100%;
  background-color: #262626;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  margin-right: 0;
}
#navlinks {
  list-style-type: none;
  margin: none;
  padding: 0;
}
#navlinks li a { 
  color: white; 
  font-size: 16px;
  letter-spacing: 2px;
}
#navlinks li a:hover { background-color: #33adff; }

/** Footer CSS **/
footer { text-align: center; }
footer div { background-color: #262626; }
#footerList { list-style: none; padding: 0;}
#footerList li { 
  display: inline;
  padding-right: 2.5%; 
}
#footerList li a {
  text-decoration: none;
  color: white; 
  font-size: 36px;
  padding: 0; 
}
.fa:hover { color: #33adff; }

/** Dropdown CSS **/
.dropdown:hover .dropdown-menu { display: block; }
.dropdown-menu { 
  background-color: #262626; 
  margin: 0;
  padding:0;
  border: 0;
  margin-top: -1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-menu li {
  width: 100%;
  position: relative;
}

/** Containers **/
.bg-1 {                      /* Main Body */
  background-color: white;   /* White */   
  color: black;              /* Black Text */
}
.bg-2 {                      /* Footer */
  background-color: #262626; /* Blak-Gray */
  color: white;              /* White Text */
  height: 8%;
}
.container-fluid { padding: 0; margin-top: 3.25% }

/** Project Cards **/
.card {
  box-shadow: 0 4px 8px 8 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover { box-shadow: 0 4px 16px 8 rgba(0,0,0,0.2); }

/** Salsita **/
.container-fluid { padding: 0; margin-top: 3.25% }
.salsita-images { padding: 0; }
.salsita-images img { width: 100%; }
